/* Conteudo Principal */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}


a:link, a:visited, a:hover, a:active{
	color: inherit;
	text-decoration: none;
}


header{
  background-color: #92a7fa;
  height: 135px;
}

.conteudo-container{
  min-height: 100%;
  margin-top: -25px;
}

.conteudo{
  padding: 20px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

footer{
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px auto;
  min-height: 50px;
  width: 100%;
  background-color: #849cfe;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  color: rgb(255, 255, 255);
  padding: 40px 0px;
  position: absolute;
  height: 50px;
  margin-top: -50px;
}

.hr1{
  position: absolute;
  top: 125px;
  height: 2px;
  width: 100%;
  background-color: #fdfdfd;
}

.hr2{
  position: absolute;
  top: 130px;
  height: 2px;
  width: 100%;
  background-color: #fdfdfd;
}

/* Área do Header */

.acessar-container{
  display: flex;
  order: 4;
  flex: 0 1 auto;
  flex-direction: row;
  -webkit-box-pack: justify;
  justify-content: right;
  column-gap: 20px;
  margin: 35px 50px;
  width: auto;
}

.menu-login,.menu-cadastro,#nome-usuario{
  text-transform: uppercase;
  font-size: 95%;
  font-weight: 500;
  color: #192446;
  margin-top: 1.0px;
}

.menu-login,.menu-cadastro{
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.menu-login:hover,.menu-cadastro:hover{
  background-color: #f2f2f2;
  transition: 0.5s ease;
  transform: scale(1.05);
}

.btn-logout{
  cursor: pointer;
  border: #192446;
  background-color: transparent;
  margin-left: -50px;
  margin-top: 25px;
}

.logo{
  height: 20px;
}

.logo img{
  border-radius: 50%;
  margin-left: 70px;
  height: 150px;
  width: auto;
}

#btn-busca{
  position: relative;
  margin-top: 3px;
  width: 35px;
  height: auto;
  background-color: transparent;
  outline-style: none;
  border: none;
  cursor: pointer;
}

.busca{
  position: absolute;
  background-color: #9cc9f4;
  border:solid 1px;
  border-radius:15px;
  width:300px;
  margin-left: 250px;
  margin-top: 35px;
}

#txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:italic;
  font-size:15px;
  border:none;
  outline: none;
  height:32px;
  width:260px;
}

/* Janela Modal de Login */

.janela-login{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #00000080;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

.modal{
	width: 50%;
	min-width: 450px;
	min-width: 200px;
	background-color: #b7c9ff;
	backdrop-filter: blur(50px);
	padding: 50px;
	border-radius: 20px;
	text-align: center;
}

.janela-login.abrir{
	display: flex;
}

.fechar{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-color: rgba(0, 9, 84, 0.682);
	border: 0;
	cursor: pointer;
  font-weight: 1000;
}

.login-form p{
  padding: 5px;
  font-weight: 600;
}

.btn-login{
  margin-top: 10px;
}

/* Slider de Eventos */

.slideshow-container{
	max-width: 500px;
  height: 350px;
	position: relative;
	margin: auto;
}

.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22;
	padding: 16px;
	color: rgb(6, 0, 0);
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 5px 5px 5px 5px;
	user-select: none;
  -webkit-text-stroke: 1px rgb(238, 224, 224); /* Adiciona Efeito Stroke */
}

.next{
	right: 0;
	border-radius: 5px 5px 5x 5px;
}

.prev:hover, .next:hover{
	background-color: rgba(0, 0, 0, 0.8);
}

.counter{
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
  z-index: 999;
}

.slider {
  display: flex;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.slider img {
  width: 100%;
  height: auto;
}

.slider-arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  padding: 10px;
  font-size: 40px;
  background-color: transparent;
  border: none;
  color: #000;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.slide {
  flex: 0 0 100%;
}

/* Faixa de Eventos */

/*
.faixa-eventos{
  height: 300px;
  overflow-x: auto;
}

.faixa {
  display: inline-flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.faixa img{
  width: 262px;
  height: 134px;
  margin: 0 8px;
}
*/

.faixa-eventos {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.eventos-container {
  display: flex;
  width: max-content;
  position: absolute;
  top: 50px;
  left: 0;
  transition: transform 0.3s ease-in-out;
}

.eventos-container .evento {
  flex: 0 0 200px;
  height: 200px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  position: relative;
}

.event-thumb{
  width: 262px;
  height: 134px;
  margin: 0 8px;
}

.evento h5, .evento h6{
  margin-left: 10px;
}

.scrollEsquerda,
.scrollDireita {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  -webkit-text-stroke: 1px rgb(238, 224, 224); /* Adiciona Efeito Stroke */
}

.scrollEsquerda {
  left: 0;
}

.scrollDireita {
  right: 0;
}

.coracao{
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 5px;
  margin-top: 134px;
}